
.logo{
  font-size: 1.75rem;
  font-family:'Franklin Gothic Medium';
  font-weight: bold;
  color: var(--info-dark-800);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    color: black ;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: min(1rem,4vh) min(4rem,10vw);
    padding-bottom:1rem;
    transition: top 0.3s;
    z-index: 1000;
    background-color: #f9fafb; /* Tailwind's gray-50 */  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* subtle separation */
}

  
  .navbar.hide {
    top: -80px; /* hide navbar when scrolling down */
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }
  
  .nav-links li  {
    text-decoration: none;
    
  }
  .nav-links li a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    
    transition: color 0.3s, fill 0.3s;
    color: black; /* Default text color */
  }
  
  .nav-links li a svg {
    transition: fill 0.3s; /* Smooth transition for icon fill */
    fill: black; /* Default icon color */
  }
  
  .nav-links li a:hover {
    color: #93c5fd; /* Text color on hover */
  }
  
  .nav-links li a:hover svg {
    fill: #93c5fd; /* Icon color on hover */
  }
  
  .menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Mobile Menu */
  .mobile-menu {
    display: flex; /* Always flex */
    flex-direction: column;
    position: fixed;
    padding: 1rem;
    font-weight: bold;
    padding-top: 60px;
    top: 0;
    right: 0; /* Attach to the right side */
    width: clamp(150px, 50vw, 300px);
    height: 100%;
    background-color: #ffffff; /* white */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* subtle separation */
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    list-style: none;
    z-index: 999;
    text-align: end;
  }
  
  .mobile-menu.open {
    padding-top: 60px;
    transform: translateX(0); 
    padding-right: min(4rem, 10vw);
    align-items: end;
  }
  
  .mobile-menu li {
    padding: 1rem 0;
  }
  
  /* Responsive */
  @media (max-width: 800px) {
    .nav-links {
      display: none;
    }
    .menu-icon {
      display: block;
    }
  }
.no-scroll {
  overflow: hidden;
}
  